#recentpubs {
  position: relative;
  overflow: hidden;
  .recentpubs-wrap {
    @extend %page-padding;
    padding-top: 50px!important;
    margin-bottom: 15px;
    .bg {
      content: "";
      z-index: -99;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0px;
      background-color: rgba(0, 0, 0, 0.05);
    }
    p.title {
      color: $theme-dark;
      font-size: 25px;
      font-weight: 600;
    }
  }
  .bibliography {
    margin-top: 1rem;
  }
}